VITE_FIREBASE_API_KEY=AIzaSyCIxcZYt7JwY6DUJ50DGxOH7S5_0xT2SVI
VITE_FIREBASE_AUTH_DOMAIN=trinetra-demo.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=trinetra-demo
VITE_FIREBASE_STORAGE_BUCKET=trinetra-demo.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=772686068265
VITE_FIREBASE_APP_ID=1:772686068265:web:fe5790b53f3e8a70a2ba38
VITE_FIREBASE_MEASUREMENT_ID=G-YDLNVE3LX8